In [5]:
#imports
import pandas as pd
import numpy as np
from pylab import *
import string
from unidecode import unidecode

#load csv
veg_data_to_load = "zomato.csv"
veg_data = pd.read_csv(veg_data_to_load, encoding='ISO-8859-1')
veg_data_df = pd.DataFrame(veg_data).reset_index()

In [87]:
# Creating the dataframe from desired columns
veg_data_df = veg_data_df[["Restaurant Name","Address", "City", "Aggregate rating", "Votes"]]

In [7]:
#Cleaning the data.  Removing non-alphanumeric columns.  Don't include spaces
veg_data_df["Restaurant Name"] = veg_data_df["Restaurant Name"].str.replace('[^a-zA-Z ]', '')
#Cleaning the data.  Removing non-alphanumeric columns.  Don't include commas or spaces
veg_data_df["Address"] = veg_data_df["Address"].str.replace('[^a-zA-Z],', '')
#Cleaning the data.  Removing non-alphanumeric columns.  Don't include spaces
veg_data_df["City"] = veg_data_df["City"].str.replace('[^a-zA-Z] ', '')
veg_data_df = veg_data_df.rename(columns = {"Aggregate rating":"Rating"})
veg_data_df = veg_data_df.rename(columns = {"Votes":"Reviewers Count"})

In [74]:
#BRING IN YELP

#import
import requests
import pandas as pd
 
# Developer API key
API_KEY= "mk-Wsg9uQeXyKH3sa02giTl_xVqw3pC3cDNZna5OYlYPz27WIcX24kOxWXYD6d3XnQvqlOvGrZvCwTpC5Wl1jUZklx6ZX0q3FOqOs_KZ5wjLpHZC3u1XQk2ZLRRmXHYx" 
 
# What you are searching for
DEFAULT_TERM = 'Vegetarian'
# Business location

#Yelp has a bug that will only return 50 records at a time.
# to work around this, I am running once with the original list definitions,
# then appending.  I am using the following cities/locations:
# Los Angeles, San Francisco, New York, Seattle, Austin, Chicago, Portland, Pittsburgh, Albany, St. Louis, Minneapolis,
# Washington, Houston, Philadelphia, San Diego, Phoenix, San Jose, Boston, Baltimore, Fresno, Florida, New Mexico 

DEFAULT_LOCATION = 'New Mexico'
# Maximum number of results to return
SEARCH_LIMIT = 50
OFFSETN = 51
 
# Busines search end point
url = 'https://api.yelp.com/v3/businesses/search'
# Header should contain the API key
headers = {'Authorization': 'Bearer {}'.format(API_KEY)}
# Search parameters
url_params = {
	'term': DEFAULT_TERM, 
	'location': DEFAULT_LOCATION, 
	'limit': SEARCH_LIMIT,
    'offset': OFFSETN
	}

In [75]:
### Comment out all below after first run so list doesn't recreate itself.
#all_rest = []
#all_add = []
#all_city = []
#all_rating = []
#all_review = []

In [76]:


# Call the API
response = requests.request('GET', url, headers=headers, params=url_params)
 
for business in response.json()["businesses"]:
    all_rest.append(business["name"])
    all_review.append(business["review_count"]) 
    all_rating.append(business["rating"])
    all_add.append(business["location"]["address1"]) 
    all_city.append(business["location"]["city"])

In [77]:
#Combine data
final_yelp = all_rest + all_add + all_city + all_rating + all_review

In [78]:
#put into DataFrames
all_rest_df = pd.DataFrame(all_rest)
all_rating_df = pd.DataFrame(all_rating) 
all_add_df = pd.DataFrame(all_add) 
all_city_df = pd.DataFrame(all_city) 
all_review_df = pd.DataFrame(all_review)

In [81]:
#merge all dataframes and rename columns
merge1 = all_rest_df.merge(all_add_df, how='outer', left_index=True, right_index=True)
merge1 = merge1.rename(columns={"0_x": "Name"})
merge1 = merge1.rename(columns={"0_y": "Address"})
merge2 = merge1.merge(all_city_df, how='outer', left_index=True, right_index=True)
merge2 = merge2.rename(columns={"0": "City"})
merge3 = merge2.merge(all_rating_df, how='outer', left_index=True, right_index=True)
merge4 = merge3.merge(all_review_df, how='outer', left_index=True, right_index=True)
merge4 = merge4.rename(columns={"Name": "Restaurant Name"})
merge4 = merge4.rename(columns={"Address": "Address"})
merge4 = merge4.rename(columns={"0_x": "City"})
merge4 = merge4.rename(columns={"0_y": "Rating"})
#the following is a fake merge.  I'm doing this to create an extra column, because before that, the last merge
#created the last column as "0" and it was impossible to rename.  So I force a merge to rename "0"
#to something I can rename, then I drop the last fake column.
final_merge = merge4.merge(all_add_df, how='outer', left_index=True, right_index=True)
final_merge = final_merge.rename(columns={"0_x": "Reviewers Count"})
final_merge.drop(["0_y"],axis = 1, inplace = True)

In [82]:
# append both dataframes, the CSV and the Yelp API data

final_etl_data = veg_data_df.append(final_merge, ignore_index =False, sort=True)
final_etl_data

,Address,City,Rating,Restaurant Name,Reviewers Count
0,"1511 High Street, Des Moines, IA 50309",Des Moines,4.4,A Dong Restaurant,659
1,"800 W 7th St, Sioux City, IA 51103",Sioux City,3.8,Da Kao Restaurant,182
2,"515 W 7th St, Sioux City, IA 51103",Sioux City,4.0,Diamond Thai Cuisine,303
3,"117 N Linn St, Iowa City, IA 52245",Cedar Rapids/Iowa City,4.0,Devotay,380
4,"211 10th Street, Augusta, GA 30901",Augusta,4.5,The Bees Knees,631
5,"415 Yellowstone Ave, Pocatello, ID 83201",Pocatello,3.6,Sushi Family,132
6,"5010 Armour Rd, Columbus, GA 31904",Columbus,4.2,Buckhead Bar and Grill,722
7,"199 Prince Ave, Athens, GA 30601",Athens,4.2,Grit,800
8,"11 N Orchard St, Boise, ID 83706",Boise,4.4,Lucianos Italian Restaurant,360
9,"2700 Dawson Rd, Albany, GA 31707",Albany,3.6,Hong Kong Cafe,88
10,"87 N. Chestatee St Dahlonega, GA 30533",Gainesville,4.1,Shenanigans Irish Pub,171
11,"710 Lake Joy Road, Warner Robins, GA 31088",Macon,3.8,The Mellow Mushroom,323
12,"1111 Center St, Cedar Falls, IA 50613",Waterloo,3.7,Brown Bottle The Cedar Falls,134
13,"121 Tom Hill Sr Blvd, Macon, GA 31210",Macon,4.2,Papoulis Mediterranean Cafe Market,223
14,"932 North Mills Avenue, Orlando, FL 32803",Orlando,4.4,Tako Cheena by Pom Pom,570
15,"330 N Main Street, Pocatello, ID 83204",Pocatello,3.8,Taste of India Nepal,141
16,"300 E. Grand Ave Des Moines, IA 50309",Des Moines,4.2,Zombie Burger Drink Lab,943
17,"1214 N Westover Blvd, Albany, GA 31707",Albany,3.9,Guang Zhou Chinese Restaurant,141
18,"601-B South New York Avenue, Winter Park, FL 3...",Orlando,4.4,Ethos Vegan Kitchen,797
19,"116 W Hill Ave, Valdosta, GA 31601",Valdosta,3.8,Bleu Pub,281
20,"28 Hudson Street, De Waterkant, Cape Town",Cape Town,4.0,Origin Coffee Roasting,185
21,"913 E Hillsborough Ave, Tampa, FL 33604",Tampa Bay,4.5,Taco Bus,1868
22,"39 Barnard St, Savannah, GA 31401",Savannah,4.2,Goose Feathers Cafe and Bakery,680
23,"3 LSC Market, New Rajdhani Enclave, Near Preet...",New Delhi,3.0,Katyal Pure Vegetarian,10
24,"Opposite Cristal Hotel, Behind KM Trading, Ele...",Abu Dhabi,3.6,Sangeetha Vegetarian Restaurant,268
25,"Opposite Cristal Hotel, Behind KM Trading, Ele...",Abu Dhabi,3.6,Sangeetha Vegetarian Restaurant,268
26,"305 Near Golcha Cinema, Netaji Subhash Marg, D...",New Delhi,3.6,Suvidha Vegetarian,88
27,"107 A, Gautam Nagar, Hauz Khas, New Delhi",New Delhi,0.0,Guptas Vegetarian Paradise,1
28,"13-A/ Ward Opposite Bhool Bhuliyan, Mehrauli,...",New Delhi,2.9,Malik Vegetarian Rasoi,9
0,3524 Sunset Blvd,Los Angeles,5.0,Of Aire,4
...,...,...,...,...,...
1020,119 San Pasquale Ave SW,Albuquerque,4.5,Seared,159
1021,2200 Menaul NE,Albuquerque,4.0,The Range Café,432
1022,5500 San Mateo Blvd NE,Albuquerque,4.0,Siam Cafe,112
1023,5701 Gibson Blvd SE,Albuquerque,4.5,Stripes Biscuit,135
1024,6001 San Mateo NE,Albuquerque,3.5,Delicias Cafe,66
1025,2007 Candalaria Rd NE,Albuquerque,4.0,Pho 79,185
1026,400 Central Ave SW,Albuquerque,4.0,Brixens,363
1027,4700 Alameda Blvd NE,Albuquerque,4.5,Marlene's New Mexican Food,9
1028,6910 Montgomery Blvd NE,Albuquerque,4.5,Curry Leaf,228
1029,5210 San Mateo Blvd NE,Albuquerque,3.5,Sushi Gen,78
1030,424 Isleta Blvd SW,Albuquerque,4.5,Lollie's New Mexican Food,33
1031,6060 San Mateo Blvd NE,Albuquerque,3.5,Burger King,6
1032,2400 Central Ave SE,Albuquerque,4.0,Frontier,1692
1033,4330 Lomas Blvd NE,Albuquerque,4.0,Hurricane's Restaurant & Drive-In,85
1034,1248 San Mateo Blvd SE,Albuquerque,4.5,Tia Betty Blue's,458
1035,9100 Central Ave SE,Albuquerque,4.5,Pho Linh Vietnamese Grill,66
1036,1027 San Mateo Blvd SE,Albuquerque,4.5,Sheba's Grocery & Cafe,41
1037,7900 San Pedro Dr NE,Albuquerque,4.0,Rocket Kitchen,21
1038,7600 Jefferson St NE,Albuquerque,4.0,Hello Deli,78
1039,218 Gold Ave SW,Albuquerque,4.0,Hartford Square,133
1040,2500 Central Ave SW,Albuquerque,4.5,Buen Provecho Albuquerque,60
1041,301 Cornell Dr SE,Albuquerque,4.0,Kabob House,75
1042,6910 Montgomery Blvd NE,Albuquerque,4.5,Poki Poblano Fusion Lounge,169
1043,2679 Louisiana Blvd NE,Albuquerque,4.0,Cheese & Coffee Uptown,77
1044,3715 Las Estancias Ct #104,Albuquerque,3.0,Papa Murphy's,2
1045,,Albuquerque,4.5,Gedunk Food Truck,12
1046,1225 Eubank NE,Albuquerque,4.5,Basil Leaf Vietnamese Restaurant,324
1047,5455 Gibson Blvd SE,Albuquerque,4.0,Copper Canyon Cafe,62
1048,1430 Carlisle Blvd NE,Albuquerque,4.0,Taj Mahal Cuisine Of India,209
1049,102 Richmond Dr NE,Albuquerque,4.0,The Last Call,270

In [85]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('ETL_Data.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
final_etl_data.to_excel(writer, sheet_name='Sheet1')

writer.save()